.category-card {
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat !important;
  box-sizing: border-box;
}

.category-image {
  width: 80%;
  margin: 2rem auto;
}

.category-body {
  background: black;
  transition: 1s;
  .category-title {
    transition: 1s;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  &:hover{
    background: white;
    .category-title{
      color: black;
    }
  }
}

.card-img-top{
  background-color: black;
  transition: 1s;
  &:hover{
    background-color: white;
  }
}