.text-block{
  width: calc(100vw /3);
  height:calc(100vw /3);
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 5rem;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: left;
  background:white;
  font-style: italic;
  &:nth-child(1){
    background:#ae8d54;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    text-align: right;
    div:after{
      top:0;
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      left:0;
      background:white;
      z-index:1000;
    }
    div.sal-animate:after{
      animation:fromRightToLeft 1.5s .5s both;
    }
  }
  &:nth-child(2){
    font-size: 1.5rem;
    text-align: right;
    div:after{
      top:0;
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      left:0;
      background:#ae8d54;
      z-index:1000;
    }
    div.sal-animate:after{
      animation:fromRightToLeft 1.5s .5s both;
    }
  }
  &:nth-child(3){
    font-size: 2rem;
    background:#ae8d54;
    text-align: right;
    color:white;
    div:after{
      top:0;
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      left:0;
      background:white;
      z-index:1000;
    }
    div.sal-animate:after{
      animation:fromRightToLeft 1.5s .5s both;
    }
  }
  div p{
    font-style:italic;
    font-family: "Times New Roman", Times, serif;
  }

}

.title{
color: white;
  font-weight: 900;
  font-size: 6rem;
}

.btn-custom{
  background: #ae8d54;
  padding: 1rem;
  color: white;
  font-size:2rem;
  font-weight: 500;
  transition: .4s;
  &:hover{
    color: darkgrey;
    text-decoration: none;
    background: #e4c99b;
  }
}

.parallax-header div{
  height: 100vh;
}

.parallax-container{
  h1{
    position: relative;
    display: inline-block;
    margin:1rem;
    overflow:hidden;
    &.sal-animate:after{
      transform: translateX(-100%);
    }
    &:after{
      transition: 2s;
      top:0;
      left:0;
      position: absolute;
      background:white;
      content: "";
      width: 100%;
      height: 100%;
    }
  }
}

.contact{
  position: relative;
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.5rem;
  }
  &:after{
    content: "";
    height: 100%;
    background-color: black;
    width: 100%;
    position: absolute;
  }
  &.sal-animate:after{
    animation:fromRightToLeft 1.5s .5s both;
  }
}

#motto{
  font-family: 'Caveat', cursive;
}

@keyframes fromLeftToRight {
  from{
  }
  to{
    transform: translateX(0%);
  }
}