@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import "mobile";
* {
  font-family: 'Caveat', sans-serif;
  cursor: none;
}

#main {
  min-height: 80vh;
}

#___gatsby {
  overflow-x: hidden;
  min-height: 100vh;
}

#footer {
  background: black;
}

#about {
  padding: 20vh 0;

  * {
    color: white;
  }
}

#contact-form {
  width: 50%;
  margin: 0 auto;

  label {
    color: white;
    font-weight: bold;
  }

  input, textarea {
    background: rgba(255, 255, 255, .1);
    color: white;
    border: none;
    border-radius: 0;
    font-weight: bold;

    &:focus {
      border-bottom: 1px solid darkblue;
      box-shadow: none !important;
    }
  }

  button {
    font-weight: bolder;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: .5rem;
    width: 100%;
    transition: 1s;

    &:hover {
      background: white;
      color: black;
    }
  }
}

#contact-formik {
  width: 90%;
  margin: 0 auto;

  label {
    color: white;
    font-weight: bold;
  }

  input, textarea {
    background: rgba(255, 255, 255, .1);
    color: white;
    border: none;
    border-radius: 0;
    font-weight: bold;

    &:focus {
      border-bottom: 1px solid darkblue;
      box-shadow: none !important;
    }
  }

  button {
    font-weight: bolder;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: .5rem;
    width: 100%;
    transition: 1s;

    &:hover {
      background: white;
      color: black;
    }
  }
}

#navbar {
  background-color: black;
  padding: 2rem 5rem;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    background: #e4c99b;
    z-index: 1000;
    animation: fromRightToLeft 1.5s .5s both;
  }
}

.hover-white {
  :hover {
    img, .category-body {
      background: white !important
    }
    .category-body .category-title{
      color:black !important;
    }
    .category-body .category-description{
      color:black !important;
    }
  }
}

.category-new-desc{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
}


@keyframes fromRightToLeft {
  from {
    transform: translateX(0%)
  }

  to {
    background: rgba(255, 255, 255, 0);
    transform: translateX(-100%)
  }
}

.logo {
  height: 100px;
}

.nav-link {
  text-transform: uppercase;
  color: white;
  position: relative;
  transition: letter-spacing .4s;
  font-size: 1rem;
  font-weight: 700;

  &:hover {
    color: white;
    letter-spacing: 1px;
  }
}

.menu-icon, .menu-title, #list-menus, .menu-wrapper {
  display: none;
}

.menu-wrapper {
  background: rgba(0, 0, 0, .3);
  position: fixed;
  z-index: 1;
  height: 5rem;
  left: 0;
  right: 0;
}

.text-block {
  text-align: left !important;
}

.text-block {
  font-weight: bold !important;
}

.text-block img {
  width: 25%;
  margin: 0 auto;
}


.ReactGridGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.caps{

  .category-body,.card-img-top{
    background:white;
    color:black;
  }
  .category-body .category-title{
    color: black;
  }
}

.buy-now{
  color: black;
  text-align: center;
  border: 1px solid black;
  border-radius: 1rem;
  transition: .4s;
  &:hover{
    color: white;
    text-decoration: none;
    background-color:black;
  }
}

.caps #contact-form{
  width: 100%;
  label,input,textarea{
    color: black;
  }
  input,textarea{
    background:lightgray;
  }
  button{
    background:black;
    &:hover{
      color: white;
    }
  }
}

.category-description{
  color: white;
  text-align: justify;
  transition: 1s;
  font-size: 22px;
}

.longDescription{
  line-height: 1.5;
  font-size: 30px;
  color: white;
  padding: 2rem 9rem;
  @media (max-width: 992px){
    padding: 2rem;
  }
}

.category-title.card-title{
  font-size: 25px;
}
.contact_information{
  text-align: center;
  font-size: 25px;
  color: white;
  padding: 8px;
}
