#___gatsby {
  @media (max-width: 1560px) {
    .text-block {
      font-size: 1.25rem;
      padding: 2rem;
    }

  }
  @media(max-width: 1340px) {
    .text-block {
      font-size: 1rem;
    }
    #navbar {
      display: none;
    }

  }

  @media(max-width: 1280px) {
    .parallax-header div{
      height: 60vh;
    }
    .row-setting {
      flex-direction: column;
      .text-block {
        width: auto;
        height: auto;
      }
    }
  }

  @media(max-width: 1340px) {
    #about{
      padding: 5vh 0;
    }
    #contact{
      align-items: center;
      flex-direction: column;
      img{
        width: 100%;
      }
    }
    #footer ul{
      flex-direction: column;
      align-items: center;
    }
    #motto{
      font-size: 3rem;
    }
    a#motto{
      text-align: center;
    }
    #main {
      padding-top: 5rem;
    }
    #list-menus {
      display: flex;
      justify-content: center;
      flex-direction: column;
      list-style: none;

      a {
        font-style: italic !important;
        font-family: ubuntu !important;
        font-size: 1.5rem;
        color: black;
        font-weight: 500;
      }
    }
    .menu-wrapper {
      display: block;
    }
    .menu-icon {
      display: block;
      position: fixed !important;
      top: 1.5rem;
      right: 1.5rem;
      z-index: 10;

      &.active span {
        background: black !important;
      }
    }
    .menu-title {
      img{
        height: 4rem;
      }
      display: block;
      position: fixed !important;
      color: white;
      top: .5rem;
      left: .5rem;
      z-index: 10;
      transition: 1s;

      &.active {
        color: black;
      }
    }
    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      position: fixed;
      top: 1rem;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
      background-color: rgba(255, 255, 255, .9);
      z-index: 1;
      transition: 1s;
      transform: translateX(120%);


      &.active {
        transform: translateX(0%);
      }
    }
  }


}